@media (max-width: 450px) {
  body h3 {
    font-size: 20px;
  }

  body p {
    font-size: 15px;
  }

  .main-title-header {
    font-size: 60px;
  }

  .section-header {
    font-size: 25px;
  }

  .description, .read-more-less {
    margin: 10px 0;
  }

  .specialties {
    margin: 20px 0 0 0;
  }

  .specialty-card h3 {
    font-size: 20px;
  }

  .specialty-card li {
    font-size: 12.5px;
  }

  .fa-ul {
    margin-left: 1rem !important;
  }

  .achievement-cards {
    padding: 0;
  }

  .videos {
    margin: 0;
  }

  .livestream-stream {
    height: 60%;
    width: 100%;
  }

  .livestream-chat {
    height: 60%;
    width: 100%;
  }

  .contact-me {
    height: 100vh;
    margin: 100px 0;
  }

  .float-container {
    padding: 30px;
    width: 80%;
  }

  .contact-me-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact-input {
    width: 100%;
    padding: 10px;
  }

  .message {
    height: 100px;
  }
}

@media (max-width: 1050px) {
  .projects {
    margin: 30px 0 0 0;
  }

  .project-container {
    display: block;
    text-align: center;
  }

  .project-title {
    display: block;
  }

  .project-info {
    display: none;
  }
}
