:root {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
  letter-spacing: 1.5px;
}

body {
  text-align: center;
  transition: all 1s ease;
  overflow-x: hidden;
}

section {
  padding: 50px;
  width: 100vw;
}

h1:not(:first-child) {
  font-size: 60px;
}

.float-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, .9);
  padding: 60px;
  border-radius: 5px;
  text-align: center;
}

.center-container {
  text-align: center;
}

/* TITLE SECTION */

.large-header {
   position: relative;
   width: 100%;
   z-index: 1;
}

.demo .large-header {
   background-image: url("https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128__480.jpg");
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.main-title-header {
  font-size: 75px;
}

.main-title-description {
  font-size: 20px;
}

/* ABOUT ME SECTION */

.about-me-header {
  color: white;
}

.description {
  color: white;
  margin: 20px 50px;
}

.read-more-less {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 20px 50px 10px 50px;
  color: black;
  box-shadow: 0 5px 5px rgba(0,0,0,.3);
  transition: all .2s;
}

.read-more-less:hover {
  color: black;
  text-decoration: none;
  background-color: #ccc;
}

.specialties {
  margin: 35px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
}

.specialty-card {
  padding: 30px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0,0,0,.3);
}

/* MY PROJECTS */

.projects {
  margin: 50px 200px;
}

.project-container {
  display: grid;
  grid-template-columns: 33% 1fr;
  grid-gap: 20px;
}

.project-title {
  display: none;
  margin-top: 10px;
}

.project-image {
  width: 100%;
  border-radius: 15px;
}

.project-image-container:not(:last-child) {
  margin-bottom: 30px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* OPEN SOURCE CONTRIBUTIONS */

.open-source-contributions {

}

.contributions {
  text-align: center;
}

table {
  margin: 50px 100px;
  overflow: scroll;
}

table, th, td {
  border-top: 1px solid #ccc;
  padding: 15px 30px;
  text-align: left;
}

th {
  border-bottom: 2px solid #ccc;
}

/* MY ACHIEVEMENTS */

.my-achievements-header {
  color: white;
}

.achievement-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: 450px;
  padding: 100px;
  grid-gap: 100px;
  text-align: center;
}

.achievement-card {
  position: relative;
  perspective: 1000px;
}

.card-side {
  position: absolute;
  backface-visibility: hidden;
  transition: all .5s;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  padding: 30px;
}

.front {
  padding: 0;
}

.back {
  transform: rotateY(180deg);
}

.achievement-card:hover .front {
  transform: rotateY(180deg);
}

.achievement-card:hover .back {
  transform: rotateY(360deg);
}

.achievement-title {
  padding: 20px;
}

.achievement-image-container {
  height: 40%;
  overflow: hidden;
}

.achievement-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
}

/* MY YOUTUBE VIDEOS */

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 30px;
  margin: 50px 65px;
}

.video-container {
  text-align: center;
}

.video {
  width: 100%;
}

.video-stats {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 10%;
  justify-content: center;
}

/* TWITCH LIVESTREAM */

.twitch-header {
  color: white;
}

.livestream {
  margin: 50px 0;
}

/* CONTACT ME */

.contact-me {
  position: relative;
  height: 90vh;
}

.contact-me-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 40px);
  grid-gap: 20px;
  width: 850px;
}

.contact-input {
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 24px 20px 20px 20px;
  transition: all .2s;
}

.contact-submit {
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px 20px 15px 20px;
  transition: all .2s;
  margin-top: 20px;
}

.contact-input:focus {
  box-shadow: 0 6px 4px rgba(0,0,0,.3);
  transform: translateY(-5px);
}

.contact-submit:hover {
  box-shadow: 0 7px 4px rgba(0,0,0,.3);
  transform: translateY(-3px);
}

.email, .message, .contact-submit {
  grid-column: 1/3;
}

.message {
  grid-row: 3/5;
  padding: 20px;
}

/* FUTURE CONCEPTS */

.future-concepts {
  padding-bottom: 75px;
}

/* FOOTER  */

.footer {
  text-align: center;
  background-image: linear-gradient(to right bottom, rgb(74, 74, 74), rgb(46, 46, 46));
  /* background-image: url("https://img.freepik.com/free-photo/old-grunge-cement-wall-backgrounds_34552-195.jpg?size=626&ext=jpg"); */
  background-size: cover;
}

.social-media-icon {
  height: 50px;
}

.social-media-icon:hover {
  transform: scale(1.15);
  transition: all .2s;
}

.social-media-icons {
  margin: 40px;
}

.medium {
  transform: scale(0.89) !important;
}

.twitch {
  transform: scale(0.89) !important;
}

.color-white {
  background-color: white;
}
.color-black {
  background-color: rgb(40, 40, 40);
}
